.aside{
    width: 103px;
    min-height: 100vh;
    border-radius: 0px 20px 20px 0px;
    background: #373B53;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 12;
}
.aside .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px;
    width: 103px;
    background: linear-gradient(to bottom, #7C5DFA 50%, #9277FF 50%);
    background-clip:border-box;
    border-radius: 0px 20px 20px 0px;
}
.aside .toogle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.aside .toogle img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 24px;
}
.aside .toogle hr{
    width: 101px;
    border: 1px solid #494E6E;
    margin-top: 32px;
}